<div class="student">
    <div class="studentLeft">
        <h4 class="title">Welcome to students portal</h4>
        <div class="content">
            <label>Name</label>
            <span class="name">Sumit Mondal</span>
        </div>
        <div class="content">
            <label>Roll</label>
            <span class="roll">1234</span>
        </div>
        <div class="content">
            <label>Department</label>
            <span class="">IT</span>
        </div>
        <div class="content">
            <label>Sem</label>
            <span class="name">5th</span>
        </div>
    </div>
    <div class="studentRight">
        <img src="https://picsum.photos/id/237/200/300" alt="" class="userImg">
    </div>
</div>